In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
Crop_recommendation = pd.read_csv('Crop_recommendation.csv')

In [3]:
Crop_recommendation.head()

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536      0
1  85  58  41    21.770462  80.319644  7.038096  226.655537      0
2  60  55  44    23.004459  82.320763  7.840207  263.964248      0
3  74  35  40    26.491096  80.158363  6.980401  242.864034      0
4  78  42  42    20.130175  81.604873  7.628473  262.717340      0

In [4]:
Crop_recommendation.isnull()

         N      P      K  temperature  humidity     ph  rainfall  label
0    False  False  False        False     False  False     False  False
1    False  False  False        False     False  False     False  False
2    False  False  False        False     False  False     False  False
3    False  False  False        False     False  False     False  False
4    False  False  False        False     False  False     False  False
..     ...    ...    ...          ...       ...    ...       ...    ...
295  False  False  False        False     False  False     False  False
296  False  False  False        False     False  False     False  False
297  False  False  False        False     False  False     False  False
298  False  False  False        False     False  False     False  False
299  False  False  False        False     False  False     False  False

[300 rows x 8 columns]

In [5]:
Crop_recommendation.shape

(300, 8)

In [6]:
Crop_recommendation['label'].value_counts()

0    100
2    100
1    100
Name: label, dtype: int64

In [7]:
X = Crop_recommendation.drop (columns='label',axis=1)
Y = Crop_recommendation['label']

In [8]:
print(X)

       N   P   K  temperature   humidity        ph    rainfall
0     90  42  43    20.879744  82.002744  6.502985  202.935536
1     85  58  41    21.770462  80.319644  7.038096  226.655537
2     60  55  44    23.004459  82.320763  7.840207  263.964248
3     74  35  40    26.491096  80.158363  6.980401  242.864034
4     78  42  42    20.130175  81.604873  7.628473  262.717340
..   ...  ..  ..          ...        ...       ...         ...
295  107  34  32    26.774637  66.413269  6.780064  177.774507
296   99  15  27    27.417112  56.636362  6.086922  127.924610
297  118  33  30    24.131797  67.225123  6.362608  173.322839
298  117  32  34    26.272418  52.127394  6.758793  127.175293
299  104  18  30    23.603016  60.396475  6.779833  140.937041

[300 rows x 7 columns]

In [9]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
295    1
296    1
297    1
298    1
299    1
Name: label, Length: 300, dtype: int64

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [11]:
print(X.shape, X_train.shape, X_test.shape)

(300, 7) (240, 7) (60, 7)

In [12]:
classifier = svm.SVC(kernel='linear')

In [13]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [14]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [15]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 1.0

In [16]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [17]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 1.0

In [23]:
input_data = (99,15,27,27.0424167,57.27927475,6.501157208,165.6872119)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('Cocok Untuk Padi')
elif (prediction[0]==1):
    print('Cocok Untuk Coffee')
else:
    print('Cocok Untuk Jagung')

[1]
Cocok Untuk Coffee

c:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(